.main {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    height: max-content;
    text-align: center;
    align-items: center;
}

/* Put the carousel in the center of the main div */
#projectsCarousel {
    margin: auto;
    width: 100%;
    height: 100%;
}

.item_header {
    color: #000000;
    font-weight: bolder;
}

.item_description {
    color: #000000;
    font-weight: bold;
}

.icon_margin {
    margin-right: 5px;
}